{% extends 'base.html.twig' %}

{% block title %}Collections of Magic{% endblock %}

{% block body %}
    <div class="collections">
        {% for collection in collections %}
            <a class="collection__card" href="{{path('cards', {'collection': collection.id}) }}">
                <div class="collection__svg">
                    <img src="{{ collection.icon }}" alt="" style="width: 50px">
                </div>
                <div class="collection__content">

                    <div class="collection__name">
                        {{ collection.name }}<span class="collection__code">
                            ({{ collection.code }})
                        </span>
                    </div>
                    <div class="collection__release">
                        Publié : {{ collection.releaseAt | date('d/m/Y') }}
                    </div>
                </div>

            </a>
        {% endfor %}
    </div>
{% endblock %}
