{% extends 'base.html.twig' %}

{% block title %}Cards of Magic{% endblock %}

{% block body %}
    <div class="filters">
        {{ form_start(form) }}
        <div class="filter__item filter__name">
            {{ form_row(form.name) }}
        </div>
        <div class="filter__item filter__colors">
            {{ form_row(form.color) }}
        </div>
        <div class="filter__item filter__types">
            {{ form_row(form.type) }}
        </div>
        <div class="filter__item filter__submit">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="cards">
        {% for card in cards %}
            <div class="card__card">
                <div class="card__image">
                    <img src="{{ card.image }}" alt="" style="width: 150px">
                </div>
                <div class="card__content">
                    <div class="card__name">
                        {{ card.name }}
                    </div>
                    <div class="card__description">
                        {{ card.description }}
                    </div>
                    <div class="card__color">
                        Couleurs :
                        {% for color in card.colors %}
                            {{ color.label }},
                        {% endfor %}
                    </div>
                    <div class="card__type">
                        Type :
                        {{ card.type.label }}
                    </div>
                    <div class="card__artist">
                        Artiste :
                        {{ card.artistName }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
