{% extends 'base.html.twig' %}

{% block title %}Cards - MAGIC THE GATHERING{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Retour aux collections</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            </ul>

                {{ form_start(form,{'attr': {'class': 'form-inline'}}) }}
                {{ form_widget(form.color) }}
                {{ form_widget(form.type) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.submit) }}
                {{ form_end(form) }}




            {# <form class="form-inline mt-2 mt-md-0"> #}
            {# <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> #}
            {# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> #}
            {# </form> #}
        </div>
    </nav>


    <div class="row mb-2 d-flex justify-content-around mt-5">
        {% for card in cards %}
            <div class="col-md-5 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="d-inline">
                            {% for color in card.color %}
                                <strong class="d-inline-block mb-2 badge rounded-pil text-color-{{ color.name }}">{{ color.name }} </strong>
                            {% endfor %}
                        </div>
                        <h3 class="mb-0">{{ card.name }}</h3>
                        <div class="mb-1 text-muted">{{ card.typeName }}</div>
                    </div>
                    <div class="d-none d-lg-block">
                        <img src="{{ card.image }}" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
