{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Set "{{ set.name }}"
{% endblock title %}

{% block header %}
    {{ parent() }}&nbsp;&ndash;&nbsp;<img class="icon-set text-white" src="{{ set.iconUrl }}" alt="Icon of {{ set.name }}" /> {{ set.name }}
{% endblock %}

{% block body %}
    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <h3 class="mb-4">Filters the list</h3>
                {% if form.vars.submitted %}
                    {% if cards|length == 0 %}
                        <div class="alert alert-warning" role="alert">
                            No card for this search.
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            {{ cards|length }} cards were found for this search.
                        </div>
                    {% endif %}
                {% endif %}

                <div class="pb-4">
                    {{ form_start(form, ) }}
                        {{ form_rest(form) }}
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="{{ path('set_list') }}" class="btn btn-outline-dark" role="button">
                                    Back to list
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">Search</button>
                                <button class="btn btn-outline-danger" type="reset">Reset these filters</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>

                {% if cards|length > 0 %}
                    <h3 class="mb-4">{{ cards|length }} cards</h3>
                {% endif %}

                <div class="row">
                    {% for card in cards %}
                        <div class="col-md-3">
                            <div class="card mb-3 text-white bg-dark">
                                {% if card.imageUrl is defined and card.imageUrl|length > 0 %}
                                    <img class="card-img-top" src="{{ asset(card.imageUrl) }}" alt="Card image" />
                                {% endif %}

                                <div class="card-body">
                                    <h5 class="card-title">{{ card.name }}</h5>

                                    {% if card.type %}
                                        <h6 class="card-subtitle">{{ card.type }}</h6>
                                    {% endif %}

                                    {% if card.description %}
                                        <p class="card-text pt-1 small">{{ card.description }}</p>
                                    {% endif %}

                                    <div class="d-flex flex-row-reverse pt-2">
                                        {% if card.artist %}
                                            <small class="text-muted">{{ card.artist }}</small>
                                        {% endif %}
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush">
                                    {% for color in card.colors %}
                                        <li class="list-group-item text-uppercase text-black">
                                            {{ color.basicLand }} <small>({{ color.abbreviation }} &ndash; {{ color.name }})</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}